@font-face{
    font-family: "Oswald";
    src: url(font/Oswald-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: Oswald;
    
}
body{
    
    
    background-image: url(images/fond.png);
    
}
.contenu{
    background-color: white;
    padding-bottom: 30px;
    width: 50%;
    margin: 0 auto;
}
nav{
    background-color: #B8CB21;
}
main{
    padding: 20px;
}
main div{
    padding: 10px 5px;
}
main .my-div{
    padding-bottom: 20px;
}
h1{
    color: #B8CB21;
    font-size: 24px;
}
nav ul{
    display: inline-block;
    float: right;
    padding: 40px 20px 0 0;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: underline;
    color: #314723;
    font-size: 21px;
}
p{
    font-family: tahoma;
    margin: 16px 0;
    color: #5c5b5b;
}
.my-div i, h1{
    display: inline;
}
i{
    color: #B8CB21;
    font-size: 22px;
    margin-right: 5px;
}
div p img{
    float: left;
    margin: 0 16px 16px 0;
}
button{
    background-color: #B8CB21;
    border: none;
    color: white;
    font-size: 14px;
    padding: 10px;
    float: right;
    
}
.list{
    padding: 0 0 16px 20px;
}
.list ul {
    padding-left: 20px;
}
.list ul li{
    font-family: tahoma;
    color: #5c5b5b;
}
.logowa{
    text-align: center;
    margin: 20px 0 10px;
}

.logowa img{
    width: 50px;
    height: 50px;
    
}
.para p{
    font-family: tahoma;
    font-size: 12px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 10px;

}
.para p a{
    color: blue;
    font-family: tahoma;
    font-size: 12px;
    text-align: center;

}